@import './../constants';

.grid {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: [top] minmax($GRID_HEAD/2, $GRID_HEAD) [titles] minmax(0, $GRID_TITLES) [content] auto [bottom];
  grid-template-columns: [left] auto [right];

  .grid-cell{
  }
  .grid-head {
    grid-row-start: top;
    grid-row-end: titles;
    grid-column-start: left;
    grid-column-end: right;
    overflow: hidden;
    padding-top: $MED_SMALL_SPACE;
    @include control-wrapper;
  }

  .grid-title {
    grid-row-start: titles;
    grid-row-end: content;
    grid-column-start: left;
    grid-column-end: right;
    overflow: hidden;
    align-self: center;
    line-height: 150%;

    .grid-cell {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px solid $C_TABLE_HEAD_RULE;
      span {
        flex: 1;
      }
      img {
        margin-right: $MED_SMALL_SPACE;
      }
    }

    .grid-label {
      font-family: $HEADLINE_FONT_FAMILY;
      font-weight: 700;
    }
  }

  .grid-content {
    grid-row-start: content;
    grid-row-end: bottom;
    grid-column-start: left;
    grid-column-end: right;
    overflow: auto;
  }
}
