
h1, h2, h3, h4, h5, h6 {
  font-family: "Walbaum18pt-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 120%;
  color: black;
}

h1 {
  font-variant: small-caps;
}

h2, h3, h4, h5 {
  font-weight: normal;
}

h3, h4, h5 {
  font-style: italic;
}

h4, h5 {
  color: rgba(0,0,0,0.666);
}


div, p {
  font-family: "Franca", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
  display: block;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
  overflow-x: auto;
}
