.blurBehind {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.blurBehindMore {
  background-color: rgba(0,0,0,0.125);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
